@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL STYLES */
body,
button {
    font-family: "Space Mono", monospace;
}

/* CALCULATOR STYLES */
.calculator {
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
    margin: auto;
    margin-top: 16px;
    max-width: 400px;
}

.calculator__display {
    border: 2px solid black;
    border-radius: 4px;
    font-size: 2rem;;
    height: 100px;
    padding: 8px;
    text-align: right;
}

.calculator__row {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.calculator__button {
    flex: 0 0 calc(25% - (3/4 * 8px));
}

.calculator__button-lg {
    flex: 0 0 calc(50% - (1/2 * 8px));
}

.calculator__button,
.calculator__button-lg {
    border-radius: 4px;
    height: 50px;
    font-size: 1.5rem;
}